<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>

    <%=javascript_include_tag "site.min"%>

  </head>
  <body style="background-color: #f1f2f6;">
    <%= render :partial => '/menu',:locals => {:splash => 'nav-link',:login => 'current nav-link',:signup => 'nav-link'}%>

      <!--header-->
      <div class="aquaground">
        <h1 class = "whiteHeader">Welcome to Bookup</h1>
        <h4 class="subheader">Lets find you a book</h4>
      </div>
      <br>
      <br>
      <div class="container">
        <p id="notice"><%= notice %></p>
        <!--<form id = "userPage"> -->
        <%= form_for(:session, url: sessions_path) do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, class: "form-control"%>

          <br>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control"%>

          <br>

          <%= f.submit "Log in", class: "btn btn-primary" %>
          <!-- <input name = "usr" type="text" class="form-control" placeholder="Username">
          <br>
          <input name = "pswd" type="password" class="form-control" placeholder="Password">
          <br>

          <input type="submit" value="Log In" class="btn btn-primary"> -->
        <% end %>
        <!-- </form> -->
        <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>
