<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="../../public/assets/stylesheets/site.min.css">

    <link rel="stylesheet" type="text/css" href="../../public/assets/stylesheets/style.css">

    <script type="text/javascript" src="js/site.min.js"></script>

  </head>
  <body style="background-color: #f1f2f6;">
    <div class="docs-header">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="#">Bookup</a></li>
            </ul>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "About", {:controller => 'users', :action => 'splash' },
                :class => 'nav-link' %>
              </li>
              <li><%= link_to "Log in", {:controller => 'sessions', :action => 'new'} ,
                :class => 'current nav-link' %>
              </li>
              <li><%= link_to "Sign Up", {:controller => 'users', :action => 'new'} ,
                :class => 'nav-link' %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      </div>

      <!--header-->
      <div class="aquaground">
        <h1 class = "whiteHeader">Welcome to Bookup</h1>
        <h4 class="subheader">Lets find you a book</h4>
      </div>
      <br>
      <br>
      <div class="container">
        <!--<form id = "userPage"> -->
        <%= form_for(:session, url: sessions_path) do |f| %>
          <%= f.label :username %>
          <%= f.text_field :username, class: "form-control"%>

          <br>
          
          <%= f.label :password %>
          <%= f.text_field :password, class: "form-control"%>

          <br>

          <%= f.submit "Log in", class: "btn btn-primary" %>
          <!-- <input name = "usr" type="text" class="form-control" placeholder="Username">
          <br>
          <input name = "pswd" type="password" class="form-control" placeholder="Password">
          <br>

          <input type="submit" value="Log In" class="btn btn-primary"> -->
        <% end %>
        <!-- </form> -->
        <%= debug(params) if Rails.env.development? %>
      </div>
  </body>
</html>
