<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Documentation - Bootflat</title>

    <!--Google font used for site-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <!--stylesheets located in assets/stylesheets
        javascript located in assets/javascripts-->
    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>
    <%=javascript_include_tag "site.min"%>
    <%=javascript_include_tag "actions"%>

  </head>
  <body>

    <!-- _menu partial used to the navigation bar and header, marking login/profile button with 'current nav-link' class to make
        the highlighted tab the user is on -->
      <%= render :partial => '/menu',:locals => {:splash => 'nav-link',:login => 'current nav-link',:signup => 'nav-link'}%>
      

      <!--Top-->
      <div class="aquaground">
          <h3 class="whiteHeader">Your Recommendations</h3>
          <h4 class="subheader">The simple way to find your next read.</h4>
          <div class="alert small alert-success alert-dismissable centerdamnbutton">
              <p>Not seeing a book you like?</p>
              <!--add book button, links to books/new-->
              <p><%= link_to "Add a book!", {:controller => 'books', :action => 'new'},
                :class =>  "btn btn-success" %></p>
         </div>
      </div>
    </div>

      <!--===Book Results===-->

      <div class="container documents">

      <%if(@books != nil) %>

      <!--if returned results are not empty-->

      <!--for each returned book result, render partial for book thumbnail result-->
      <% count = 0 %>
      <% @books.each do |x| %>

      <% if (count % 4 == 0) %>
      <div class="row">
      <% end %>
              <!--partial for book thumbnail-->
              <%= render :partial => '/book_thumb',:locals => {:book => x, :user => @user}%>

      <% count += 1 %>

      <% if (count % 4 == 0) %>
        </div>
      <% end %>

      <% end %>

      <!--if there are no returned reccomended books then instruct user to go like books-->
      <% else %>
          <p class="subheaderaqua"> Go like some books, and see the results appear here! </p>
      <% end %>

      </div>
  </body>
</html>
