<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>

    <!--Google font used for site-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <!--stylesheets located in assets/stylesheets
        javascript located in assets/javascripts-->
    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>
    <%=javascript_include_tag "site.min"%>

  </head>
  <body>
    <!-- _menu partial used to the navigation bar and header, marking signup button with 'current nav-link' class to make it
        the highlighted tab the user is on -->
      <%= render :partial => '/menu',:locals => {:splash => 'nav-link',:login => 'nav-link',:signup => 'current nav-link'}%>

      <div class="aquaground">
        <h1 class = "whiteHeader">Thank you for trying Bookup</h1>
        <h4 class="subheader">Lets find you a book</h4>
      </div>
      <br>
      <br>
      <div class="container">
        <p id="notice"><%= notice %></p>

        <br>

        <%= form_for(:user, url: users_path) do |f| %>
          <%= f.label :username %>*
          <%= f.text_field :username, class: "form-control"%>

          <br>

          <%= f.label :password %>*
          <%= f.password_field :password, class: "form-control"%>

          <br>

          <%= f.label "Confirm Password" %>*
          <%= f.password_field :confirmpassword, class: "form-control"%>

          <br>

          <%= f.label "Favorite Book" %>
          <%= f.text_field :favbook, class: "form-control"%>

          <br>

          <%= f.label "Favorite Author" %>
          <%= f.text_field :favauthor, class: "form-control"%>

          <br>

          <%= f.label "Favorite Genre" %>
          <%= f.text_field :favgenre, class: "form-control"%>

          <br>

          <%= f.label "Tell Us About You!" %>
          <%= f.text_area :aboutme, class: "form-control"%>

          <br>

          <%= f.submit "Create Account", class: "btn btn-primary" %>
        <% end %>

        <%= debug(params) if Rails.env.development? %>


      </div>
  </body>
</html>
