<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BookUp</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>

    <%=javascript_include_tag "site.min"%>


  </head>
  <body>
    <%= render :partial => '/menu',:locals => {:splash => 'current nav-link',:login => 'nav-link',:signup => 'nav-link'}%>

      <div class="aquaground">
        <h1 class = "whiteHeader">Bookup</h1>
        <h4 class="subheader">Let us find your next book</h4>
        <h4 class="subheader">In the <span class = "bold">simplest</span> way possible.</h4>
      </div>
      <br>
      <br>
      <div class="contain">
        <h1 class="aquaHeader">How Do We Do It?</h1>
        <h4 class="subheaderaqua">All you have to do is tell us the books you
        <span class="bold">Like</span> or <span class="bold">Dislike</span>!</h4>

        <div class="centerdamnbutton">
          <%= button_to "Want to try it out?", signup_path, :class => "btn btn-primary", :method => :get%>
        </div>
      </div>



  </body>
</html>
