<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results</title>

    <!--Google font used for site-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

   <!--stylesheets located in assets/stylesheets
        javascript located in assets/javascripts-->
    <%= javascript_tag do %>
      document.userid = '<%= session[:remember_token] %>';
    <% end %>
    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>
    <%=javascript_include_tag "site.min"%>
    <%=javascript_include_tag "actions"%>
    <%= javascript_include_tag "ajaxactions" %>
    <%= csrf_meta_tag %>


  </head>
  <body>

    <!-- _menu partial used to the navigation bar and header, marking about button with 'current nav-link' class to make
        the highlighted tab the user is on -->
      <%= render :partial => '/menu',:locals => {:splash => 'nav-link',:login => 'nav-link',:signup => 'nav-link'}%>

      <!--if returned book results are not empty then display query and book results-->
      <%if(@book_results != nil) %>
      <!--Top-->
      <div class="aquaground">
          <h3 class="whiteHeader">Search Results</h3>
          <h4 class="subheader"> <%= @query %> </h4>
            <!--add book div with button linking to /books/new-->
          <div class="alert small alert-success alert-dismissable centerdamnbutton">
              <p>Not seeing a book you like?</p>
              <!--add book button, links to books/new-->
              <p><%= link_to "Add a book!", {:controller => 'books', :action => 'new'},
                :class =>  "btn btn-success" %></p>
         </div>
        <div class="topic__infos">
        </div>
      </div>

      <!--===Book Results===-->

      <!--for each returned book result, render partial for book thumbnail result-->
      <div class="container documents">

        <% count = 0 %>
        <% @book_results.each do |x| %>

        <% if (count % 4 == 0) %>
        <div class="row">
        <% end %>
                 <!--partial for book thumbnail-->
                 <%= render :partial => '/book_thumb', :locals => {:book => x, :user => @user}%>

        <% count += 1 %>
        <% if (count % 4 == 0) %>
        </div>
        <% end %>
        <% end %>
      </div>

      <!--if there are no returned book results from query then display no results found and add book button-->
     <% else %>
      <div class="aquaground">
          <h3 class="whiteHeader">Search Results</h3>
          <h4 class="subheader">No results found for '<%= @query %>'!</h4>
          <div class="alert small alert-success alert-dismissable centerdamnbutton">
              <p>Not seeing a book you like?</p>
              <p><%= link_to "Add a book!", {:controller => 'books', :action => 'new'},
                :class =>  "btn btn-success" %></p>
         </div>
      </div>

   <% end %>
  </body>
</html>
