<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Documentation - Bootflat</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">

    <%=stylesheet_link_tag "site.min"%>
    <%=stylesheet_link_tag "style"%>
    <%=javascript_include_tag "site.min"%>
    <%=javascript_include_tag "actions"%>

  </head>
  <body>

      <%= render :partial => '/menu',:locals => {:splash => 'nav-link',:login => 'nav-link',:signup => 'nav-link'}%>
      

      <!--Top-->
      <div class="aquaground">
          <input type="text" class="whiteHeader form-control" placeholder="Text input">
          <h4 class="subheader">The simple way to find your next read.</h4>
        <div class="topic__infos">
        </div>
      </div>
    </div>

      <!-- BOOKS
      ================================================== -->
      <div class="container documents">

<!-- Thumbnails print -->
  

      <!-- <div class="row"> -->
      
          <div id = "b1thumb" class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="img/thumbnail-1.jpg" >
              <div class="caption text-center">
                <h3> Temp</h3>
                <p> Temp </p>
                <p><a class="btn btn-success" role="button">I like it!</a>
                <a name = "nolike" class="btn btn-danger" role="button">No Thanks</a>
                </p>
              </div>
            </div>
          </div>


      <!-- Footer
      ================================================== -->
  </body>
</html>
