<div class="docs-header">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Bookup", {:controller => 'users', :action => 'splash'},
                :class =>  "nav-link" %>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
              <% if session[:remember_token] != nil %>
              <%= link_to "About", {:controller => 'users', :action => 'splash'},
                :class =>  splash %>
              </li>
              <li><%= link_to "Profile", {:controller => 'users', :action => 'profile'} ,
                :class =>  login %>
              </li>
              <li><%= link_to "Sign Out", {:controller => 'sessions', :action => 'logout'} ,
                :class =>  signup %>
              </li>
              <% else %>
              <%= link_to "About", {:controller => 'users', :action => 'splash'},
                :class =>  splash %>
              </li>
              <li><%= link_to "Log in", {:controller => 'sessions', :action => 'login'} ,
                :class =>  login %>
              </li>
              <li><%= link_to "Sign Up", {:controller => 'users', :action => 'signup'} ,
                :class =>  signup %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
</div>
